<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Kushan Dimantha.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/kushan-dimantha/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/kushan00" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:kushandimantha533@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://wa.me/+94715391491" target="_blank" class="a-green">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
