
.accordion-left {
  max-width: 820px;
  margin: 0; 
  width: 100%;
}

mat-expansion-panel {
  margin-bottom: 15px;
  background-color: #141a20;
  color: white;
  border-radius: 8px !important;
  border-left: 4px solid #00FF00;
  transition: all 0.3s ease;
}

mat-expansion-panel-header {
  padding: 15px 20px;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: #27333f !important;
  color: white !important;
  border-radius: 8px 8px 0 0 !important;
}

.accordion-text {
  padding: 15px 20px;
  line-height: 1.6;
  font-size: 1rem;
  color: white;
}

mat-panel-title {
  color: white !important;
  font-weight: 600;
}

.default-highlight {
  color: #00FF00;
  font-weight: 600;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
  color: white;
}

@media (max-width: 768px) {
  .tech-board {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .tech-cell {
    margin: 10px 0;
  }
}

mat-expansion-panel-header:hover {
  background-color: #1e2a36 !important;
}


.tech-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.tech-category {
  grid-column: 1 / -1;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
}

.tech-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.tech-cell i {
  font-size: 42px;
}

.tech-cell span {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: #b3b3b3;
}

.tech-cell:hover {
  transform: translateY(-4px);
}
