<div class="align-items-center default-container">
  <div class="row align-items-center">
    <!-- Left Column - Text Content -->
    <div class="col-lg-6 col-md-12">
      <div class="image-container">
        <img src="../../assets/kd.png" alt="Kushan Dimantha" class="profile-image">
      </div>
    </div>

    <!-- Right Column - Image -->
    <div class="col-lg-6 col-md-12">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Kushan Dimantha, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          I am a developer with 4+ years experience in building software. I leverage my fluency in English, college education, and coding skills to craft accessible, scalable and high-performance applications.
        </blockquote>
        <button>
          <a href="../../assets/Kushan Dimantha.pdf" target="_blank" class="a-green">
            > Download My Resume
          </a>
        </button>
      </div>
    </div>
  </div>
</div>